body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
canvas {
    border: 1px solid black;
}
#trainingMenu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#gamingInfo {

    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    font-size: 30px; /* Aumenta o tamanho da fonte */
}
#gamingMenu{
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #45a049; /* Cor mais escura ao passar o mouse */
}

#info {
    display: none;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    font-size: 44px; /* Aumenta o tamanho da fonte */
}

.canvas-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#telaVitoria {
    display: flex; /* Flexbox para centralização */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Fundo branco para a tela de vitória */
    height: 100%;
    width: 100%;
    text-align: center; /* Centraliza o texto */
}

#telaVitoria h1 {
    font-size: 3em; /* Tamanho grande para o título */
    margin-bottom: 20px;
}

#telaVitoria p {
    font-size: 1.5em; /* Tamanho maior para o texto */
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

#telaRanking {
    text-align: center;
}